<div class="container" ng-if="show_login_page">

	<!-- Video BG -->
    <video id="video_background" data-background="{{getBG().background}}" class="video-bg-{{getBG().background}}" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
        <source src="{{getBG().video.mp4}}" type="video/mp4" />
        <source src="{{getBG().video.webm}}" type='video/webm; codecs="vp8, vorbis"' />
        <source src="{{getBG().video.ogv}}" type='video/ogg; codecs="theora, vorbis"' />Video not supported!
    </video>

	<!-- Overley Effect-->
    <div id="effect">
        <div></div>
    </div>


    <div class="center">

        <h1 class="logo">Caçambas.com</h1>
  
		<!-- cards for login and reset  -->
        <div class="flip-container {{ff_hide}} {{flip}} {{shake}}" ng-class="{'show-error' : error_msg}">
            <div class="flipper">

				<!-- Card Login -->
                <div class="card-login front {{load}}">

					<!-- Feedback Message -->
                    <span ng-if="error_msg" class="feedback">{{message}}</span>

					<!-- form for data and with angular validation -->
                    <form class="credentials" name="form_data" ng-submit="login(form_data.$valid)" method="POST" novalidate>
                        <div class="group-poly" ng-class="{'input-error' : validation(form_data.usuario, error_user)}" ng-keypress="error_user = false">
                            <input type="text" class="fields" placeholder="Usu&aacute;rio" id="usuario" name="usuario" ng-model="credentials.usuario" required autofocus />
                            <span class="bar"></span>
                            <i ng-show="validation(form_data.usuario, error_user)" class="fa fa-exclamation fa-input-error"></i>
                        </div>
                        <div class="group-poly" ng-class="{'input-error' : validation(form_data.senha, error_pass)}" ng-keypress="error_pass = false">
                            <input type="password" class="fields" placeholder="Senha" id="senha" name="senha" ng-model="credentials.senha" required />
                            <span class="bar"></span>
                            <i ng-show="validation(form_data.senha, error_pass)" class="fa fa-exclamation fa-input-error"></i>
                        </div>

                        <button class="btn btn-lg btn-login btn-block">Entrar &rsaquo;</button>
                    </form>

					<!-- Spinner -->
                    <div ng-hide="!load_spin" class="load-spin"></div>

                    <div class="card-bottom">
                        <a class="recover-pass" href="" title="Esqueci minha senha" ng-click="flipping()">Esqueci minha senha &rsaquo;</a>
                        <div class="load-text my-show-hide-animation">Entrando</div>
                    </div>
                </div>



				<!-- Card for Recover pass-->
                <div class="card-login back {{load}}">

                    <!-- Feedback Message -->
                    <span ng-if="error_msg" class="feedback">{{message}}</span>

                    <h4>Esqueceu sua senha?</h4>
                    <div class="p">Informe o email que você cadastrou no Caçambas e vamos te enviar uma nova senha!</div>

                    <form class="credentials" name="forgot_data" method="POST" ng-submit="forgot(forgot_data.$valid)" novalidate>
                        <div class="group-poly" ng-class="{'input-error' : validation(forgot_data.email, error_email)}">
                            <input type="email" class="fields" placeholder="Seu email" id="email" name="email" ng-model="remember.email" ng-keypress="error_email = false" required/>
                            <span class="bar"></span>
                            <i ng-show="validation(forgot_data.email, error_email)" class="fa fa-exclamation fa-input-error"></i>
                        </div>

                        <button class="btn btn-lg btn-login btn-block recover">Recuperar senha &rsaquo;</button>
                    </form>

                    <!-- Spinner -->
                    <div ng-hide="!load_spin" class="load-spin"></div>

                    <!-- Sent Success -->
                    <div ng-hide="!remind_sent" class="remind-success">
                        <div class="check-white"></div>
                        <div class="text">
                            <h3>Email Enviado</h3>
                            <h5>Siga as instruções e altere sua senha!</h5>
                        </div>
                    </div>

                    <div class="card-bottom">
                        <a href="" ng-click="flipping()" class="recover-pass">&lsaquo; Voltar ao Login</a> 
                        <div class="load-text my-show-hide-animation">Enviando</div>
                    </div>
                </div>

            </div>
        </div>

	<!-- Center -->
    </div>
</div>
