body.view_login {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #333333 !important;
  font-family: 'Open Sans', sans-serif;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px; }

html {
  height: 100%; }

/* Fix the mm-menu problem on login */
.view_login .mm-page {
  background: inherit !important;
  min-height: inherit !important;
  position: inherit !important; }

.view_login .mm-page, html.mm-opened .view_login .mm-page {
  left: 0 !important;
  margin-right: 0 !important; }

.view_login .mm-menu {
  display: none !important; }

#container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

#effect div {
  width: 100%;
  height: 100%;
  background: #000;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.5;
  /*@include gradient(black);*/ }

#video_background {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1000;
  overflow: hidden;
  top: 0;
  left: 0;
  background-size: cover; }

.video-bg-1 {
  background: url("/front/dev/images/videos/background-001.jpg") no-repeat center center; }

.video-bg-2 {
  background: url("/front/dev/images/videos/background-002.jpg") no-repeat center center; }

/*#video_background[data-background="1"] {
    background: url($video-path+'/background-001.jpg') no-repeat center center;
    background-size: cover;
}
#video_background[data-background="2"] {
    background: url($video-path+'/background-002.jpg') no-repeat center center;
    background-size: cover;
}*/
.center {
  width: 320px;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  /* for break logo animation for not use JS*/
  -webkit-animation: 0.1s hack linear none 0.1s;
  -moz-animation: 0.1s hack linear none 0.1s;
  animation: 0.1s hack linear none 0.1s; }

@-webkit-keyframes hack {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }
@-moz-keyframes hack {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }
@keyframes hack {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }
/*@include keyframes(opacy) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}*/
h1.logo {
  text-indent: -20000px;
  background: url("/front/dev/images/logo.png") no-repeat;
  height: 45px;
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  opacity: 1;
  -webkit-animation: 0.3s moving ease-in-out backwards 1.5s;
  -moz-animation: 0.3s moving ease-in-out backwards 1.5s;
  animation: 0.3s moving ease-in-out backwards 1.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: margin-top;
  transition-property: margin-top; }

@-webkit-keyframes moving {
  from {
    margin-top: 150px; }

  to {
    margin-top: 0px; } }
@-moz-keyframes moving {
  from {
    margin-top: 150px; }

  to {
    margin-top: 0px; } }
@keyframes moving {
  from {
    margin-top: 150px; }

  to {
    margin-top: 0px; } }
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -ms-transform-style: preserve-3d; }

.flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flipper {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform: perspective(1000px);
  position: relative;
  -webkit-animation: 0.4s fadeIn ease-in-out backwards 1.7s;
  -moz-animation: 0.4s fadeIn ease-in-out backwards 1.7s;
  animation: 0.4s fadeIn ease-in-out backwards 1.7s; }

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  position: absolute;
  top: 0;
  left: 0; }

.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  /* for loading animation */
  overflow-y: hidden; }

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  overflow-y: hidden; }

.card-login form {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.load form {
  -webkit-animation: 0.4s slideOut ease forwards;
  -moz-animation: 0.4s slideOut ease forwards;
  animation: 0.4s slideOut ease forwards; }

.unload form {
  -webkit-animation: 0.3s slideIn ease-in both 0.5s;
  -moz-animation: 0.3s slideIn ease-in both 0.5s;
  animation: 0.3s slideIn ease-in both 0.5s; }

.reset-form .load form {
  -webkit-animation: 0.4s slideOutReset ease forwards;
  -moz-animation: 0.4s slideOutReset ease forwards;
  animation: 0.4s slideOutReset ease forwards; }

.reset-form .unload form {
  -webkit-animation: 0.3s slideInReset ease-in both 0.5s;
  -moz-animation: 0.3s slideInReset ease-in both 0.5s;
  animation: 0.3s slideInReset ease-in both 0.5s; }

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate3d(0, -190px, 0);
    -moz-transform: translate3d(0, -190px, 0);
    -o-transform: translate3d(0, -190px, 0);
    -ms-transform: translate3d(0, -190px, 0);
    transform: translate3d(0, -190px, 0); }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideIn {
  0% {
    -webkit-transform: translate3d(0, -190px, 0);
    -moz-transform: translate3d(0, -190px, 0);
    -o-transform: translate3d(0, -190px, 0);
    -ms-transform: translate3d(0, -190px, 0);
    transform: translate3d(0, -190px, 0); }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideIn {
  0% {
    -webkit-transform: translate3d(0, -190px, 0);
    -moz-transform: translate3d(0, -190px, 0);
    -o-transform: translate3d(0, -190px, 0);
    -ms-transform: translate3d(0, -190px, 0);
    transform: translate3d(0, -190px, 0); }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(0, -180px, 0);
    -moz-transform: translate3d(0, -180px, 0);
    -o-transform: translate3d(0, -180px, 0);
    -ms-transform: translate3d(0, -180px, 0);
    transform: translate3d(0, -180px, 0); } }
@-moz-keyframes slideOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(0, -180px, 0);
    -moz-transform: translate3d(0, -180px, 0);
    -o-transform: translate3d(0, -180px, 0);
    -ms-transform: translate3d(0, -180px, 0);
    transform: translate3d(0, -180px, 0); } }
@keyframes slideOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(0, -180px, 0);
    -moz-transform: translate3d(0, -180px, 0);
    -o-transform: translate3d(0, -180px, 0);
    -ms-transform: translate3d(0, -180px, 0);
    transform: translate3d(0, -180px, 0); } }
@-webkit-keyframes slideOutReset {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(0, -280px, 0);
    -moz-transform: translate3d(0, -280px, 0);
    -o-transform: translate3d(0, -280px, 0);
    -ms-transform: translate3d(0, -280px, 0);
    transform: translate3d(0, -280px, 0); } }
@-moz-keyframes slideOutReset {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(0, -280px, 0);
    -moz-transform: translate3d(0, -280px, 0);
    -o-transform: translate3d(0, -280px, 0);
    -ms-transform: translate3d(0, -280px, 0);
    transform: translate3d(0, -280px, 0); } }
@keyframes slideOutReset {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  100% {
    -webkit-transform: translate3d(0, -280px, 0);
    -moz-transform: translate3d(0, -280px, 0);
    -o-transform: translate3d(0, -280px, 0);
    -ms-transform: translate3d(0, -280px, 0);
    transform: translate3d(0, -280px, 0); } }
@-webkit-keyframes slideInReset {
  0% {
    -webkit-transform: translate3d(0, -280px, 0);
    -moz-transform: translate3d(0, -280px, 0);
    -o-transform: translate3d(0, -280px, 0);
    -ms-transform: translate3d(0, -280px, 0);
    transform: translate3d(0, -280px, 0); }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes slideInReset {
  0% {
    -webkit-transform: translate3d(0, -280px, 0);
    -moz-transform: translate3d(0, -280px, 0);
    -o-transform: translate3d(0, -280px, 0);
    -ms-transform: translate3d(0, -280px, 0);
    transform: translate3d(0, -280px, 0); }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInReset {
  0% {
    -webkit-transform: translate3d(0, -280px, 0);
    -moz-transform: translate3d(0, -280px, 0);
    -o-transform: translate3d(0, -280px, 0);
    -ms-transform: translate3d(0, -280px, 0);
    transform: translate3d(0, -280px, 0); }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.load-text {
  display: none;
  opacity: 1;
  font-size: 27px;
  font-weight: lighter;
  color: #777; }

.load .load-text {
  display: block !important;
  -webkit-animation: 0.4s fadeIn linear backwards;
  -moz-animation: 0.4s fadeIn linear backwards;
  animation: 0.4s fadeIn linear backwards; }

.unload .load-text {
  display: block;
  -webkit-animation: 0.4s fading linear forwards 0.1s;
  -moz-animation: 0.4s fading linear forwards 0.1s;
  animation: 0.4s fading linear forwards 0.1s;
  margin-top: -15px; }

@-webkit-keyframes fading {
  0% {
    opacity: 1;
    margin-top: -15px;
    display: block; }

  70% {
    opacity: 0.7;
    margin-top: -15px;
    display: block; }

  100% {
    opacity: 0;
    margin-top: 0; } }
@-moz-keyframes fading {
  0% {
    opacity: 1;
    margin-top: -15px;
    display: block; }

  70% {
    opacity: 0.7;
    margin-top: -15px;
    display: block; }

  100% {
    opacity: 0;
    margin-top: 0; } }
@keyframes fading {
  0% {
    opacity: 1;
    margin-top: -15px;
    display: block; }

  70% {
    opacity: 0.7;
    margin-top: -15px;
    display: block; }

  100% {
    opacity: 0;
    margin-top: 0; } }
.load-spin {
  top: 0;
  left: 49%;
  margin-top: 80px;
  position: inherit;
  display: none; }

.reset-form .load-spin {
  margin-top: 135px !important; }

.load .load-spin {
  -webkit-animation: 0.6s fadeIn ease backwards 0.1s;
  -moz-animation: 0.6s fadeIn ease backwards 0.1s;
  animation: 0.6s fadeIn ease backwards 0.1s;
  display: block; }

.unload .load-spin {
  -webkit-animation: 0.5s bounceOut ease-in-out forwards 0.2s;
  -moz-animation: 0.5s bounceOut ease-in-out forwards 0.2s;
  animation: 0.5s bounceOut ease-in-out forwards 0.2s;
  display: block; }

.load .card-bottom {
  -webkit-animation: 0.2s slideUp ease-in forwards;
  -moz-animation: 0.2s slideUp ease-in forwards;
  animation: 0.2s slideUp ease-in forwards; }

.unload .card-bottom {
  -webkit-animation: 0.1s slideDown ease-in-out backwards 0.6s;
  -moz-animation: 0.1s slideDown ease-in-out backwards 0.6s;
  animation: 0.1s slideDown ease-in-out backwards 0.6s; }

@-webkit-keyframes slideUp {
  0% {
    height: 50px; }

  100% {
    height: 80px;
    margin-top: -30px;
    padding-top: 18px; } }
@-moz-keyframes slideUp {
  0% {
    height: 50px; }

  100% {
    height: 80px;
    margin-top: -30px;
    padding-top: 18px; } }
@keyframes slideUp {
  0% {
    height: 50px; }

  100% {
    height: 80px;
    margin-top: -30px;
    padding-top: 18px; } }
@-webkit-keyframes slideDown {
  0% {
    margin-top: -30px;
    height: 80px; }

  100% {
    margin-top: 0; } }
@-moz-keyframes slideDown {
  0% {
    margin-top: -30px;
    height: 80px; }

  100% {
    margin-top: 0; } }
@keyframes slideDown {
  0% {
    margin-top: -30px;
    height: 80px; }

  100% {
    margin-top: 0; } }
.ff_hide {
  display: none; }

.flipper .feedback, .pass-equal {
  height: 50px;
  padding: 16px 5px 5px 16px;
  display: block;
  background: #f6eaea;
  border-bottom: 1px solid #eabbbc;
  border-radius: 15px 15px 0 0;
  font-size: 13px;
  text-shadow: 0 1px 0 white;
  color: #555;
  position: relative;
  z-index: -4; }

.flipper .feedback {
  -webkit-animation: 0.15s slideIn ease-in backwards 0.05s;
  -moz-animation: 0.15s slideIn ease-in backwards 0.05s;
  animation: 0.15s slideIn ease-in backwards 0.05s; }

.pass-equal {
  -webkit-animation: 0.3s fadeIn ease-in-out backwards 0.2s;
  -moz-animation: 0.3s fadeIn ease-in-out backwards 0.2s;
  animation: 0.3s fadeIn ease-in-out backwards 0.2s; }

.pass-equal.ng-hide {
  -webkit-animation: 0.2s fadeOut ease-in-out backwards;
  -moz-animation: 0.2s fadeOut ease-in-out backwards;
  animation: 0.2s fadeOut ease-in-out backwards; }

.flipper .feedback i {
  color: #666;
  padding: 0 3px 0 4px; }

.show-error .card-login {
  height: 293px !important;
  -webkit-animation: 0.05s slider ease-out backwards 0.1s;
  -moz-animation: 0.05s slider ease-out backwards 0.1s;
  animation: 0.05s slider ease-out backwards 0.1s; }

@-webkit-keyframes slider {
  0% {
    height: 240px; }

  100% {
    height: 293px !important; } }
@-moz-keyframes slider {
  0% {
    height: 240px; }

  100% {
    height: 293px !important; } }
@keyframes slider {
  0% {
    height: 240px; }

  100% {
    height: 293px !important; } }
.show-error-pass .reset_card, .show-error .reset_card {
  height: 340px !important;
  -webkit-animation: 0.2s slider1 ease-in-out both;
  -moz-animation: 0.2s slider1 ease-in-out both;
  animation: 0.2s slider1 ease-in-out both; }

@-webkit-keyframes slider1 {
  0% {
    height: 290px; }

  100% {
    height: 340px !important; } }
@-moz-keyframes slider1 {
  0% {
    height: 290px; }

  100% {
    height: 340px !important; } }
@keyframes slider1 {
  0% {
    height: 290px; }

  100% {
    height: 340px !important; } }
.card-login {
  width: 320px;
  height: 240px;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.7), 0px 0px 20px 0px transparent;
  -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.7), 0px 0px 20px 0px transparent;
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.7), 0px 0px 20px 0px transparent; }
  .card-login h4 {
    color: #397fd2 !important;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px 0 white;
    padding: 5px 15px 0 15px; }
  .card-login .p {
    color: #666666;
    text-shadow: 0 1px 0 white;
    font-size: 12px;
    text-align: justify;
    line-height: 14px;
    padding: 0 15px 0 15px; }
  .card-login .credentials {
    padding: 10px 15px; }
  .card-login .credentials .btn-login {
    margin: 15px 0 15px 0;
    font-weight: normal;
    font-size: 16px;
    text-shadow: 0 1px 0 #000;
    letter-spacing: 0.6px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    color: white;
    background-color: #418bd9;
    border-color: #1e5896; }
    .card-login .credentials .btn-login:hover, .card-login .credentials .btn-login:focus, .card-login .credentials .btn-login:active, .card-login .credentials .btn-login.active {
      color: white;
      background-color: #2876c9;
      border-color: #174474; }
    .open .card-login .credentials .btn-login.dropdown-toggle {
      color: white;
      background-color: #2876c9;
      border-color: #174474; }
    .card-login .credentials .btn-login:active, .card-login .credentials .btn-login.active {
      background-image: none; }
    .open .card-login .credentials .btn-login.dropdown-toggle {
      background-image: none; }
    .card-login .credentials .btn-login.disabled, .card-login .credentials .btn-login.disabled:hover, .card-login .credentials .btn-login.disabled:focus, .card-login .credentials .btn-login.disabled:active, .card-login .credentials .btn-login.disabled.active, .card-login .credentials .btn-login[disabled], .card-login .credentials .btn-login[disabled]:hover, .card-login .credentials .btn-login[disabled]:focus, .card-login .credentials .btn-login[disabled]:active, .card-login .credentials .btn-login[disabled].active, fieldset[disabled] .card-login .credentials .btn-login, fieldset[disabled] .card-login .credentials .btn-login:hover, fieldset[disabled] .card-login .credentials .btn-login:focus, fieldset[disabled] .card-login .credentials .btn-login:active, fieldset[disabled] .card-login .credentials .btn-login.active {
      background-color: #418bd9;
      border-color: #1e5896; }
    .card-login .credentials .btn-login .badge {
      color: #418bd9;
      background-color: white; }
    .card-login .credentials .btn-login:hover {
      background: #2c7ed5; }
  .card-login .recover {
    margin: 8px 0 5px 0 !important; }
  .card-login .credentials .fields {
    padding: 10px 0 5px 2px;
    margin-bottom: 5px;
    width: 100%;
    height: 45px;
    font-size: 1.2em;
    font-weight: lighter !important;
    color: #333 !important;
    border-radius: 0;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #D9D9D9;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .card-login .credentials .fields::-moz-placeholder {
      color: #c1c1c1;
      opacity: 1; }
    .card-login .credentials .fields:-ms-input-placeholder {
      color: #c1c1c1; }
    .card-login .credentials .fields::-webkit-input-placeholder {
      color: #c1c1c1; }
    .card-login .credentials .fields:focus {
      outline: none; }

.unload, .load {
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  -ms-transition: 0s;
  transition: 0s;
  height: 240px !important; }

.unload h4, .unload .p {
  visibility: inherit !important;
  -webkit-animation: 0.4s fadeIn linear backwards 0.7s;
  -moz-animation: 0.4s fadeIn linear backwards 0.7s;
  animation: 0.4s fadeIn linear backwards 0.7s; }

.load h4, .load .p {
  visibility: hidden !important; }

.load .recover-pass {
  display: none; }

.unload .recover-pass {
  display: block;
  -webkit-animation: 0.3s fadeIn linear backwards 0.6s;
  -moz-animation: 0.3s fadeIn linear backwards 0.6s;
  animation: 0.3s fadeIn linear backwards 0.6s; }

.remind-success {
  text-align: center;
  padding: 0 0 0 0;
  text-shadow: 1px 1px 0px #fff;
  position: absolute !important;
  z-index: 4000;
  display: block;
  margin-top: -193px;
  -webkit-animation: 0.3s fadeIn ease-in-out both;
  -moz-animation: 0.3s fadeIn ease-in-out both;
  animation: 0.3s fadeIn ease-in-out both; }
  .remind-success .check-white {
    width: 320px;
    height: 120px;
    display: block;
    padding: 15px 0 15px 0;
    background: url("/front/dev/images/checking.png") no-repeat center center;
    background-color: #f9f9f9; }
  .remind-success .text {
    padding: 10px 0 25px 0 !important;
    background: #fff !important; }
  .remind-success h3 {
    color: #008358;
    font-weight: lighter;
    font-size: 24px; }
  .remind-success h5 {
    color: #777;
    font-weight: lighter;
    font-size: 16px; }

.reset-success {
  margin-top: -300px; }
  .reset-success .check-white {
    padding-top: 20px !important;
    height: 150px !important; }
  .reset-success .text {
    padding-bottom: 30px !important; }

.reset_card {
  height: 290px !important; }

.invisible {
  display: none !important; }

.group-poly {
  position: relative; }

.input-error input.fields, .error-user input.fields, .error-pass input.fields {
  border-bottom: 1px solid #eabbbc !important;
  color: #A42D1F !important; }

.input-error .fa-input-error, .error-user .fa-input-error, .error-pass .fa-input-error {
  color: #A42D1F;
  margin-top: -25px;
  position: absolute;
  margin-left: 98%;
  opacity: 1;
  width: 16px;
  height: 16px; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }

.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 1px;
  width: 0;
  top: -6px;
  position: absolute;
  background: #9CB2CB;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  transition: 0.2s ease; }

.input-error .bar:before, .input-error .bar:after {
  background: #BE7B7A !important; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

.card-bottom, .remind-success .text {
  background: #F1F1F1;
  border-top: 1px solid #d9d9d9;
  text-align: center;
  text-shadow: 0 1px 0 white;
  font-weight: normal;
  font-size: 13px;
  padding: 15px 0 15px 0;
  border-radius: 0 0 15px 15px; }

.card-bottom a {
  color: #0261c3;
  outline: none; }

.login_block {
  display: none; }
