
                <header id="header" class="navbar navbar-default navbar-inverse mm-fixed-top">
                    
                    <div class="container-fluid text-center">
                        <a id="open-icon-header" class="btn btn-primary pull-left" href="#menu"><i class="fa fa-bars"></i></a>
                        <a class="navbar-brand" href="#">{{ title }}</a>


                        <ul id="header-nav" class="nav navbar-nav navbar-right hidden-xs">
                            <li><a href="#" class="tTip" data-toggle="tooltip" data-placement="bottom" data-original-title="Notificações"><i class="fa fa-bell"></i><span class="label label-danger">7</span></a>
                            </li>
                        </ul>
                        <a href="#" class="tTip btn btn-success pull-right btn-sm" data-toggle="tooltip" data-placement="bottom" data-original-title="Nova Locação"><i class="fa fa-plus"></i><span class="hide">Locação</span></a>
                    </div>

                </header>

                <div id="push-header"></div>

                