            <div id="profile-link" class="dropdown">
                <a data-toggle="dropdown" role="button" class="dark-gradient-bg" href="" ng-click="dropdown(this)">
                    <img alt="Avatar" class="profile-avatar" src="/public/front/dev/images/profile-avatar-150.png"> <span>{{ usuario.nome }}</span> <i class="caret mm-subopen"></i>
                </a>
                <ul class="dropdown-menu margin-top-0">
                    <li role="presentation"><a role="menuitem" tabindex="1" href="#"><i class="fa fa-user fa-lg"></i> Seu Perfil</a></li>
                   
                    <li role="presentation"><a role="menuitem" tabindex="2" href="#"><i class="fa fa-cog fa-lg"></i> Configurações</a></li>
                </ul>
            </div>