
		<!-- Nav tabs -->
		<div class="">
			<ul id="main-tabs" class="nav nav-tabs mm-fixed-top text-center">
			    <li class="active">
			        <a href="#cacamba-lista" data-toggle="tab" class="text-muted">Lista de caçambas</a>
			    </li>
			    <li>
			        <a href="#cacamba-cadastra" data-toggle="tab" class="text-muted">Cadastrar Usuário</a>
			    </li>
			    <li id="search-field">
			        <input type="text" class="form-control" placeholder="Pesquisar..."><i class="fa fa-search"></i>
			    </li>
			</ul>
		</div>

